{% extends 'pools/base.html' %}
{% block content %}


    <div class="panel panel-default">
        <div class="panel-heading">Panel heading</div>
            {% for questao in questoes %}
                <div class="panel-body">
                    <a href="{% url 'exibir_questao' questao.id %}">
                        <p>{{ questao.question_text }}</p>
                    </a>
                </div>
            <!-- Table -->
            <table class="table">
            </table>
            {% empty %}
                Não há questões cadastradas.
            {% endfor %}
    </div>

{% endblock %}