{%  extends 'pools/base.html' %}
{% block content %}

    <div class="row">

        <div class="collapsible-header center blue darken-2 white-text">
            <div class="col s3">Nº Questão</div>
            <div class="col s3">Enunciado</div>
            <div class="col s3">Situação</div>
            <div class="col s3">Data de publicação</div>
        </div>

        {% for questao in ultimas_questoes %}
            <a href="{% url 'pools:exibir_questao' questao.pk %}">
                <div class="collapsible-header center black-text">
                    <div class="col s3">{{ questao.pk }}</div>
                    <div class="col s3">{{ questao.question_text }}</div>
                    <div class="col s3">{{ questao.closed }}</div>
                    <div class="col s3">{{ questao.pub_date.date }}</div>
                </div>
            </a>
        {% empty %}
            Não há questões cadastradas.
        {% endfor %}
    </div>

{% endblock %}