{% extends 'pools/base.html' %}
{% block content %}

    <ul class="left-align">
        <li>
            Número: {{ questao.id }}
        </li>
        <li>
            Enunciado: {{ questao.question_text }}
        </li>
        <li>
            Situação: {{ questao.closed }}
        </li>
        <li>
            Data de publicação: {{ questao.pub_date.date }}.
        </li>
        <li>
            <h5>Alternativas: </h5>
                <ul>
                    {% for i in alternativas %}
                        <li>
                            {{ i }}
                        </li>
                        {% empty %}
                            <h3>Sem alternativas até então.</h3>
                    {% endfor %}
                </ul>
        </li>
    </ul>
{% endblock %}
